.gym-registration-container {
  background-color: #1a1a1a; /* Fondo oscuro */
  color: #fff; /* Texto blanco */
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 500px;
  margin: 100px auto;
}

.gym-registration-container h1 {
  color: #FF3B30; /* Tono rojo */
  text-align: center;
  margin-bottom: 20px;
}

.gym-registration-container label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

.gym-registration-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.gym-registration-container input:focus {
  border-color: #FF3B30; /* Tono rojo */
  outline: none;
}

.gym-registration-container button {
  background-color: #FF3B30;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  width: 100%;
  transition: background-color 0.3s;
}

.gym-registration-container button:hover {
  background-color: #D32F2F; /* Tono rojo más oscuro */
}

.gym-registration-container p {
  text-align: center;
  margin-top: 15px;
  font-size: 14px;
  color: #ccc;
}