.user-menu {
  position: relative;
  display: inline-block;
}

.user-name {
  cursor: pointer;
  color: #fff;
  font-weight: bold;
  transition: color 0.3s;
}

.user-name:hover {
  color: #FF3B30;
}

.dropdown {
  position: absolute;
  right: 0;
  background-color: #1f1f1f;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 10px;
  z-index: 1000;
  animation: fadeIn 0.3s ease-in-out;
}

.dropdown-item {
  color: #fff;
  padding: 10px 15px;
  text-decoration: none;
  display: block;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.dropdown-item:hover {
  background-color: #FF3B30;
}

/* Asegúrate de que el tamaño de fuente sea consistente */
.logout-button {
  font-size: inherit; /* Hereda el tamaño de fuente de .dropdown-item */
  background: none;
  border: none;
  color: #fff;
  text-align: left;
  width: 100%;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.logout-button:hover {
  background-color: #FF3B30;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.badge {
  background: red;
  color: white;
  border-radius: 50%;
  padding: 2px 8px;
  font-size: 0.8em;
  margin-left: 6px;
  vertical-align: middle;
}
