.cancel-reason-select {
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1.5px solid #d62828;
  font-size: 1em;
  margin-top: 10px;
  margin-bottom: 16px;
  background: #f8f8f8;
  color: #222;
  appearance: none; /* Quita el estilo por defecto en la mayoría de navegadores */
  outline: none;
  transition: border-color 0.2s;
}

.cancel-reason-select:focus {
  border-color: #a31f1f;
  background: #fff0f0;
}

.cancel-reason-input {
  width: 100%;
  margin-top: 10px;
  padding: 8px 12px;
  border-radius: 6px;
  border: 1.5px solid #d62828;
  font-size: 1em;
  background: #f8f8f8;
  color: #222;
  transition: border-color 0.2s;
  box-sizing: border-box;
}

.cancel-reason-input:focus {
  border-color: #a31f1f;
  outline: none;
  background: #fff0f0;
}